/* Stylesheet for Rekentool (mobile). */

@media (max-width: 767px) {
	/* ----------------------------------------------------------------------------------------- */
	/* ----- Landings page --------------------------------------------------------------------- */
	/* ----------------------------------------------------------------------------------------- */
	
	.languages {
		padding: 0;
	}
	
	.languages li {
		width: 50%;
	}
	
	.banners {
		padding: 0;
	}
	
	.banners li {
		width: 100%;
		margin: 0;
	}
}