@import "compass";
@import "base.scss";

*{
	margin: 0;
	font-size: 14px;

	&:focus{
		outline: none;
	}
}

@import "menu";

@import "back";

@import "forms";

@import "select";

@import "collums";

@import "normalize";